:root {
  --clr-nav: #F8F9FA;
  --clr-separator: #B4B4B4;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

.my-container {
  margin: 0 auto;
  padding: 0px 200px;
}

nav {
  background-color: var(--clr-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

nav a {
  font-size: 20px;
  color: black;
}

li a:hover {
  text-decoration: underline !important;
}

li p {
  font-size: 18px;
}

.article-title-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.article-content-show {
  font-size: 20px;
  padding: 20px 0px;
}

.separator {
  width: 100%;
  height: 3px;
  background-color: var(--clr-separator);
}

.edit-backshow-buttons {
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  gap: 10px;
}
